node_modules
.next
out

# Keep environment variables out of version control
.env
.env.local
.env.production.local
.env.development.local

/src/generated/prisma

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

.claude/settings.local.json
.mcp.json
